@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root{
    --primary-color: #D19C1D;
    --black-shade: #141414;
    --white-shade: #EEF0F2;
    --primary-font: "Open Sans", sans-serif;
}

body{
    background-color: var(--primary-color);
    color: var(--black-shade);

}

.container-body{
    background-color: aliceblue;
    margin:10px;
    padding: 10px 100px;
}
/* navigation */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    flex-wrap: wrap;
}

nav .logo{
    font-size: 18px;
}

nav .burger{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100%;

}

nav .burger span{
    border: 2px var(--black-shade) solid;
    border-radius: 50px;
    width: 2rem;
}

/* header section */
.header{
    padding: 100px 0px;
}

.main-heading{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 50px;
}

.primary-heading{
    font-size: 1.3rem;
    font-weight: 400;
    opacity: 65%;
    width: 50%;
    word-spacing: 5px;
    line-height: 2rem;
    
}

.primary-heading .highlight{
    background-color: #141414;
    color: var(--white-shade);
    padding: 2px 20px;
}

/* images section */
.images-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.images-section img{
    width: 500px;
    height: 600px;
    min-width: 500px;
    min-height: 600px;
    margin: 10px;
}

/* art types section */

.art-types-section{
    padding-bottom: 100px;
}

.art-types-heading{
    padding: 100px 0px;
}

.art-types-section ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.art-types-section ul li{
    min-width: 500px;
    min-height: 650px;
    max-width: 500px;
    max-height: 650px;
    margin: 10px;
}

.art-types-section li h1{
    font-size: 2rem;
    opacity: 65%;
    text-align: center;
    margin-bottom: 30px;
}

.art-types-section li img{
    width: 100%;
    height: 91%;
}

/* footer section */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
}

footer .logo-container{
    width: 30%;
}

footer .logo-container h1{
    font-size: 3rem;
    margin-bottom: 30px;
}

footer .logo-container p{
    line-height: 1.7rem;
}

footer .more-container{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

footer .more-container h1{
    margin-bottom: 40px;
}
footer .more-container a{
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--black-shade);
}

.copyright{
    text-align: center;
    margin-bottom: 5px;
}

.copyright span{
    font-weight: 700;
}

/* responsiveness */
@media only screen and (max-width: 768px) {
    
    /* main section */

    .main-heading{
        font-size: 3rem;
    }

    .primary-heading{
        width: 100%;
    }

    /* image section */

    .images-section img{
        width: 220px;
        height: 320px;
        min-width: 220px;
        min-height: 320px;
    }

/* art types section */

    .art-types-section ul li{
        width: 220px;
        height: 370px;
        min-width: 290px;
        min-height: 370px;
    }
    
    .art-types-section li h1{
        font-size: 1.5rem;
    }

    .art-types-section li img{
        height: 83%;
    }

    footer{
        flex-direction: column;
    }

    footer .logo-container{
        width: 100%;
        margin-bottom: 20px;
    }

    footer .logo-container h1{
        text-align: center;
    }

    footer .logo-container p{
        text-align: center;
    }

    footer .more-container{
        width: 100%;

    }


}



